@charset 'UTF-8';

html {
  font-family: serif;
  touch-action: manipulation;
  color: #333;
}

.content {
  max-width: 1000px;
  margin: auto;
}

.header img {
  width: 100%;
}

.intro {
  padding: 1em;
  text-align: center;
  line-height: 2em;
}
